
html, body {
margin:0;
padding:0;
}
/* background style */
header {
  background-color: #d5f1ff;
  height: 25px;
  padding: 35px;
}

main {
  background-color: #cce6ff;
}
/* group title style */
h1,h2 {
 font-family: Impact, serif;
 font-size: 35px;
 color:#800000;
 text-align:center;
 font-weight:bold;
 margin: -30px;
 padding: 10px;
 }

/* acticle or div title style */
h3 {
text-align: center;
font-family: Arial, serif;
color: #800000;
}

div {
text-align: center;
font-family: Arial, serif;
color: #000000;
}

/* border style */
hr {
	height: 2px;
	background-color: #808080;
	border: none;
	margin: 60px 0 100px 0;
}

/* group for Link style */
a:link a:visited a:hover a:active{
  font-family: Arial, serif;
}

/* link style in action */
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: red;
  text-decoration: none;
}
a:hover {
  color: #008000;
  text-decoration: none;
}
a:active {
  color: #007700;
  text-decoration: none;
}

/* Google Map size */
iframe {
  width: 600px;
  height: 250px;
}

footer {
  text-align: center;
  font-family: Arial, serif;
  background-color: #d5f1ff;
}