
html, body {
margin:0;
padding:0;
}

header {
  background-color: #d5f1ff;
  height: 25px;
  padding: 35px;
}

main {
  background-color: #cce6ff;
}

h1,h2 {
 font-family: Impact, serif;
 font-size: 35px;
 color:#800000;
 text-align:center;
 font-weight:bold;
 margin: -30px;
 padding: 10px;
 }

h3 {
text-align: center;
font-family: Arial, serif;
color: #800000;
}

div {
text-align: center;
font-family: Arial, serif;
color: #000000;
}

hr {
	height: 2px;
	background-color: #808080;
	border: none;
	margin: 60px 0 100px 0;
}
a:link a:visited a:hover a:active{
  font-family: Arial, serif;
}
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: purple;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: none;
}
a:active {
  color: green;
  text-decoration: none;
}


iframe {
  width: 600px;
  height: 250px;
}

footer {
  text-align: center;
  font-family: Arial, serif;
  background-color: #d5f1ff;
}